<% provide(:title, 'About Us') %>
<fieldset  class = "container-warranty">
<legend class = "meow">ABOUT US</legend>
		<p id = "warranty-para"></br>&nbsp &nbsp &nbsp Since 1948, Rangaire Manufacturing Company has been a trusted partner and source for manufactured military and consumer products. Since our founding, we have manufactured and distributed turn-key products for a number of trusted brands, such as Electrolux, Kenmore, Whirlpool, GE, Broan, and NuTone.
		<br/>
		<br/>
		&nbsp &nbsp &nbsp Headquartered in Cleburne, Texas, USA, Rangaire Manufacturing Company boasts a 215,000 square foot facility that offers customers a single source for product manufacturing and distribution. We market our own brands while also providing expertise, manufacturing, and distribution for a number of private-label products and OEM parts for a variety of industries.
		<br/>
		<br/>
		&nbsp &nbsp &nbsp Today, our keystone product is the Jensen Medicine Cabinet, a collection of medicine cabinets designed and marketed for both new construction and remodel and renovation. Whether our customers seek quality medicine cabinets at low cost, or custom-designed cabinets worthy of any luxury accommodation, our cabinets promise functionality and value for any installation.
		<br/>
		<br/>
		&nbsp &nbsp &nbsp Rangaire’s history is one of technical expertise, manufacturing excellence and relentless customer focus. While our product lines have evolved, we remain committed to providing high-quality, high- value products at competitive prices. We view our role not as a supplier, but as a partner for our customers. Our success depends on our ability to make you successful, which includes inventory management, lead time optimization, quality solutions, and cost effective products. We realize that our customers are our top priority, and we work hard to bring value to our partnerships around the world. We look forward to earning your trust and supporting your success.</p></br></br></br>

	</fieldset>
