<% provide(:title, 'Rangaire') %>
<div class = "star"></div>
<p class = "center boxp">"Quality, Function, Value... American Made."</p>
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><%= link_to image_tag("banner1.jpg", alt: :"Cabinet") %></li>
                        <li><%= link_to image_tag("banner2.jpg", alt: :"Cabinet") %></li>
                        <li><%= link_to image_tag("banner3.jpg", alt: :"Cabinet") %></li>
                        <li><%= link_to image_tag("banner4.jpg", alt: :"Cabinet") %></li>
                        <li><%= link_to image_tag("banner5.jpg", alt: :"Cabinet") %></li>
                        <li><%= link_to image_tag("banner6.jpg", alt: :"Cabinet") %></li>
                        
                        
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
                
            </div>
        	<!--<p class="jcarousel-pagination">
                    
            </p>-->

            <div class = "space"></div>