/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@font-face {
  font-family: 'BebasN';
  src: url("/assets/BebasNeue.otf");
  src: url("/assets/BebasNeue.eot?iefix") format("eot"), url("/assets/BebasNeue.woff") format("woff"), url("/assets/BebasNeue.ttf") format("truetype"), url("/assets/BebasNeue.svg#webfont") format("svg"); }

@font-face {
  font-family: 'AppleGaramond';
  src: url("/assets/fonts/AppleGaramond.ttf");
  src: url("/assets/fonts/AppleGaramond.eot?iefix") format("eot"), url("/assets/fonts/AppleGaramond.woff") format("woff"), url("/assets/fonts/AppleGaramond.ttf") format("truetype"), url("/assets/fonts/AppleGaramond.svg#webfont") format("svg"); }
/*GLOBAL RESET/*

/* http://meyerweb.com/eric/tools/css/reset/

   v2.0 | 20110126

   License: none (public domain)

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, :after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
.jcarousel-wrapper {
  margin: 20px auto;
  width: 890px;
  position: relative;
  border: 11px solid #1D2148;
  margin-left: auto;
  margin-right: auto; }

.jcarousel-wrapper .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  opacity: .66; }

.jcarousel-wrapper .photo-credits a {
  color: #fff; }

/** Carousel **/
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 890px;
  height: 400px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 200px;
  text-align: center;
  color: black;
  text-decoration: none;
  font: 30px/33px Arial, sans-serif; }

.jcarousel-control-prev {
  left: -50px; }

.jcarousel-control-next {
  right: -50px; }

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block; }

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default; }

/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: -130px;
  right: 35em; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  line-height: 8px;
  min-width: 8px;
  background: #fff;
  color: #fff;
  border-radius: 14px;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75; }

.jcarousel-pagination a.active {
  background: #fff;
  color: #fff; }

.jcarousel li:first-child {
  padding-left: none; }

.jcarousel li {
  padding-left: 30px; }
html {
  min-height: 100%;
  position: relative; }

body {
  padding-top: 60px;
  font-family: bebas_neueregular;
  color: #1D2148;
  background-color: white;
  margin: 0 0 100px; }

section {
  overflow: auto; }

textarea {
  resize: vertical; }

.box {
  width: 900px;
  height: 100px;
  border: 6px solid #1D2148;
  margin-top: 4em;
  border-radius: 8px; }

/*************** 
     NAV BAR
 ***************/
.nav-bar {
  width: auto;
  height: 90px;
  margin-top: -50px;
  border-style: solid;
  border-width: 6px;
  border-color: #1D2148;
  border-left: none;
  border-right: none;
  border-bottom: none; }

.nav-bar h1 {
  text-align: center;
  font-size: 6.0em;
  margin-top: 2px;
  letter-spacing: 6.5px;
  color: #1D2148;
  font-weight: 200; }

.space {
  height: 20px; }

.mfg {
  margin-top: 19px;
  height: 4px;
  padding: 0;
  border: none;
  border-top: 6px solid #1D2148;
  color: #1D2148;
  text-align: center; }

.mfg::after {
  content: "MFG";
  display: inline-block;
  position: relative;
  top: -25px;
  font-size: 36px;
  padding-left: 8.5px;
  padding-right: 5px;
  background: white;
  color: #1D2148;
  letter-spacing: 2px;
  margin-right: 2px;
  font-weight: 100; }

nav ul {
  margin-top: 25px;
  text-align: center;
  padding-left: 30px;
  list-style: none;
  color: #1D2148; }

nav li {
  display: inline;
  padding: 0px 25px;
  border-left: solid 1px black;
  text-decoration: none;
  letter-spacing: 2px;
  color: #1D2148;
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: bold; }

nav li:first-child {
  border-left: none;
  color: #1D2148; }

nav li:hover {
  background-color: none;
  text-decoration: none; }

nav li:link {
  color: #1D2148;
  text-decoration: none; }

nav a {
  text-decoration: none;
  color: #1D2148; }

/*************** 
   END NAV BAR
 ***************/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: auto !important; }

/*************** 
    NAV BAR
***************/
 /***************
 	  

 	  ER
  ***************/
.foot {
  height: 105px;
  background-color: #1D2148;
  color: white;
  font-size: 11px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.push {
  height: 1em; }

.t {
  margin-top: -55px;
  float: right;
  width: 70px;
  height: 60px;
  background-image: url("texas.png"); }

.push {
  height: 80px;
  padding-bottom: 50px; }

/*PHONE NUMBER SECTION FOR FOOTER*/
/*********************************/
.phone {
  height: 68px;
  width: 250px;
  padding-left: 10px;
  padding-top: 12px;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: Helvetica Neue;
  line-height: 18px; }

.phone li {
  display: block;
  padding: 2px; }

.phone a {
  text-decoration: none;
  color: white; }

.foot-place {
  width: 295px;
  height: 60px;
  font-size: 11px;
  margin-top: 22px;
  font-family: Helvetica Neue;
  background-image: url("texasfoot.png");
  float: right; }

.foot-place p {
  margin-top: 55px;
  margin-left: 0px;
  padding-left: 65px; }

@font-face {
  font-family: 'bebas_neueregular';
  src: url(/assets/bebasneue-webfont.eot);
  src: url(/assets/bebasneue-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/bebasneue-webfont.woff) format("woff"), url(/assets/bebasneue-webfont.ttf) format("truetype"), url(/assets/bebasneue-webfont.svg#bebas_neueregular) format("svg");
  font-weight: normal;
  font-style: normal; }

/*Main Container for pages*/
/**************************/
/**************************/
.container-warranty {
  border: 6px solid #1D2148;
  width: 850px;
  margin-top: 60px;
  font-family: Helvetica Neue;
  margin-right: auto;
  margin-left: auto; }

#warranty-para {
  text-align: justify-content;
  padding-top: 10px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
  font-size: 14px;
  font-family: Helvetica Neue; }

.meow1 {
  margin-left: 340px;
  font-size: 22px;
  letter-spacing: 4px;
  padding-right: 1px;
  padding-left: 5px;
  font-weight: 500; }

.meow {
  margin-left: 352px;
  font-size: 22px;
  letter-spacing: 4px;
  padding-right: 1px;
  padding-left: 5px;
  font-weight: 500; }

#contactus {
  border: 6px solid #1D2148;
  width: 900px;
  margin-top: 60px;
  font-family: Helvetica Neue; }

#contactus legend {
  margin-left: 352px;
  font-size: 22px;
  letter-spacing: 4px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.contact-numbers {
  text-align: center;
  line-height: 30px;
  padding-top: 4em; }

.contact-numbers p {
  font-weight: 400;
  color: #2B2C2C; }

.contact-numbers a {
  text-decoration: none;
  color: #2B2C2C;
  font-weight: 400; }

b {
  font-weight: 500; }

.errors {
  text-align: center;
  margin-right: 12em;
  color: red;
  line-height: 25px;
  font-size: 14px;
  padding-top: 10px; }

form {
  width: auto;
  height: auto;
  text-align: left;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
  line-height: 28px;
  margin-left: 12em; }

input {
  width: 475px;
  border: 1px solid #999;
  border-radius: 3px;
  height: 25px; }

textarea {
  width: 475px;
  height: 150px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 12px; }

input.button {
  color: #1D2148; }

.down {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px; }

#contact-legend {
  margin-left: 330px;
  font-size: 22px;
  letter-spacing: 4px;
  padding-right: 1px;
  padding-left: 5px;
  font-weight: 500; }

.invisible {
  height: 304px; }

.thankyou {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 600; }

.boxp {
  font-size: 29px;
  letter-spacing: 10px;
  font-weight: 400;
  padding-bottom: 22px; }

.star {
  width: 50px;
  height: 45px;
  background-image: url("redstar.png");
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding-bottom: 8px; }

.jensen {
  width: 165px;
  height: 69px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("jensen.png");
  margin-top: -67px; }

.space {
  height: 20px;
  width: 20px; }
