@font-face {
    font-family: 'BebasN';
    src: url('/assets/BebasNeue.otf');
    src: url('/assets/BebasNeue.eot?iefix') format('eot'),
         url('/assets/BebasNeue.woff') format('woff'),
         url('/assets/BebasNeue.ttf') format('truetype'),
         url('/assets/BebasNeue.svg#webfont') format('svg');
}


@font-face {
    font-family: 'AppleGaramond';
    src: url('/assets/fonts/AppleGaramond.ttf');
    src: url('/assets/fonts/AppleGaramond.eot?iefix') format('eot'),
         url('/assets/fonts/AppleGaramond.woff') format('woff'),
         url('/assets/fonts/AppleGaramond.ttf') format('truetype'),
         url('/assets/fonts/AppleGaramond.svg#webfont') format('svg');
}