.jcarousel-wrapper {
    margin: 20px auto;
    width: 912px;
    position: relative;
    border-right: 11px solid #1D2148;
    border-top: 11px solid #1D2148;
    border-left: 11px solid #1D2148;
    border-bottom: 11px solid #1D2148;
    margin-left: auto;
    margin-right: auto;

}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;

}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 890px;
    height: 400px;
    margin-bottom: 5px;
}

.jcarousel ul {
    width: 2000em;
    position: relative;
    list-style: none;
    margin-right: 0px;
    padding: 0px;

}

.jcarousel li {
    float: left;

}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    //width: 30px;
    // /height: 30px;
    text-align: center;
    //background: #4E443C;
    color: black;
    text-decoration: none;
    //text-shadow: 0 0 1px #000;
    font: 30px/33px Arial, sans-serif;
   // -webkit-border-radius: 30px;
     //  -moz-border-radius: 30px;
       //     border-radius: 30px;
    //-webkit-box-shadow: 0 0 2px #999;
      // -moz-box-shadow: 0 0 2px #999;
        //    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;

}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    opacity: .4;

}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -130px;
    right: 35em;


}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    
    font-size: 8px;
    line-height: 8px;
    min-width: 8px;
    
    background: #fff;
    color: #fff;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #fff;
    color: #fff;
    
}

.jcarousel li:first-child {
    padding-left: none;
    
}

.jcarousel li {
    margin-left: -2px;


}
