html {
	min-height: 100%;
	position: relative;

}

body {
	padding-top: 60px;
	//background-image: url('background.jpg');
	font-family: bebas_neueregular;
	color: #1D2148;
	background-color: white;
	margin: 0 0 100px;
	//overflow: auto;
	//height: 100%;
	//border: 2px solid black;

}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.box {
	width: 900px;
	height: 100px;
	border: 6px solid #1D2148;
	margin-top: 4em;
	border-radius: 8px;
}
/*************** 
     NAV BAR
 ***************/

 .nav-bar{
 	width: auto;
 	height: 90px;
 	margin-top: -50px;
 	//margin-right: -8px;
 	//margin-left: -8px;
 	border-style: solid;
 	border-width:6px;
 	border-color: #1D2148;
 	border-left: none;
 	border-right:none;
 	border-bottom: none;
 }



 .nav-bar h1 {
 	text-align: center;
 	font-size: 6.0em;
 	margin-top: 2px;
 	letter-spacing: 6.5px;
 	color: #1D2148;
 	font-weight: 200;
 	//background: url('rangaire_logo.png')
 }

.space {
	height: 20px;
}

.rangaire-logo {
	background-image: url('rangaire_logo.png');
	width: 330px;
	height: 75px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;



}

.mfg {
    margin-top:29px;
    height: 4px;
    padding: 0;
    border: none;
    border-top: 6px solid #1D2148;
    color: #1D2148;
    text-align: center;
    //margin-right: -8px;
 	//margin-left: -8px;
}
.mfg::after {
    content: url('mfg1.png');
    display: inline-block;
    position: relative; 
    top: -21px; 
    font-size: 36px;
    padding-left: 7.5px;
    padding-right: 5px;
    background: white;
    color: #1D2148;
    letter-spacing: 2px;
    margin-right: 2px;
    font-weight: 100;
}


nav ul {
	margin-top: 25px;
	text-align: center;
	padding-left: 30px;
	list-style: none;
	color: #1D2148;
	
}

nav li {
	display: inline;
	padding: 0px 25px;
	border-left: solid 1px black;
	text-decoration: none;
	letter-spacing: 2px;
	color: #1D2148;
	font-size: 12px;
	font-family: Helvetica Neue;
	font-weight: bold;

}

nav li:first-child {
	border-left: none;
	color: #1D2148;
}

nav li:hover {
	background-color: none;
	text-decoration: none;
}

nav li:link {
	color: #1D2148;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: #1D2148;
}

/*************** 
   END NAV BAR
 ***************/

.container15 {
	margin-left: auto;
	margin-right:auto;
	width: 900px;
	
	//padding-bottom: 115px;
	//min-height: 100%;
	//min-height: 100%;
	height: auto !important;
	
	
	//padding-bottom: 80px;
	//overflow: auto;
	//border: 1px solid #1D2148;
}


 /*************** 
     NAV BAR
 ***************/


 /***************
 	  

 	  ER
  ***************/

.foot {
	
	//width: 100%;
	height: 105px;
 	background-color: #15173B;
 	//margin-left: -8px;
 	//padding-right: 16px;
 	//padding-bottom: -5em;
 	color: white;
 	font-size: 11px;
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	width: 100%;




 	//margin-top: -88px;
 	//padding-bottom: 1px;


}

.push {
	height: 1em;
}

.t {
	margin-top: -55px;
	float: right;
	//border: 1px solid black;
	width: 70px;
	height: 60px;
	background-image: url("texas.png");

	
}
.push {
	height: 80px;
	padding-bottom: 50px;
}

/*PHONE NUMBER SECTION FOR FOOTER*/
/*********************************/

.phone {
	//margin-left: -2em;
	height: 68px;
	width: 250px;
	padding-left: 10px;
	padding-top: 12px;
	font-size: 11px;
	font-weight: 100;
	letter-spacing: 1px;
	font-family: Helvetica Neue;
	line-height: 18px;
	//border: 1px solid black;
}
.phone li {
	display: block;
	padding: 2px;
}

.phone a{
	text-decoration: none;
	color: white;
}



.foot-place {
	width: 295px;
	height: 60px;
	font-size: 11px;
	margin-top: 22px;
	font-family: Helvetica Neue;
	background-image:url("texasfoot.png");
	//border: 1px solid black;
	float: right;
	//margin-bottom: 20px;
}

.foot-place p {
	//padding-top: 40px;
	//margin-left: 120px;
	//border: 1px solid black;
	margin-top: 55px;
	margin-left: 0px;
	padding-left: 65px;

}





@font-face {
    font-family: 'bebas_neueregular';
    src: font-url('bebasneue-webfont.eot');
    src: font-url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('bebasneue-webfont.woff') format('woff'),
         font-url('bebasneue-webfont.ttf') format('truetype'),
         font-url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Main Container for pages*/
/**************************/
/**************************/


.container-warranty {
	border: 6px solid #1D2148;
	width: 850px;
	margin-top: 60px;
	font-family: Helvetica Neue;
	margin-right: auto;
	margin-left: auto;
	
	

}

#warranty-para {
	text-align: justify-content;
	padding-top: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	line-height: 26px;
	font-size: 14px;
	font-family: Helvetica Neue;
}

//Warranty
.meow1 {
	margin-left: 340px;
	font-size: 22px;
	letter-spacing: 4px;
	padding-right: 1px;
	padding-left: 5px;
	font-weight: 500;

}

//FOR ABOUT US PAGE
.meow {
	margin-left: 345px;
	font-size: 22px;
	letter-spacing: 4px;
	padding-right: 1px;
	padding-left: 5px;
	font-weight: 500;
	

	
}

//products page
.meowprod {
	margin-left: 374px;
	font-size: 22px;
	letter-spacing: 4px;
	padding-right: 1px;
	padding-left: 5px;
	font-weight: 500;
}


#contactus {
	border: 6px solid #1D2148;
	width: 900px;
	margin-top: 60px;
	font-family: Helvetica Neue;
}

#contactus legend {
	margin-left: 352px;
	font-size: 22px;
	letter-spacing: 4px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 500;
}
.hidden {
	display: none;
}

.center {
	text-align: center;
}

.contact-numbers {
	text-align: center;
	line-height: 30px;
	padding-top: 4em;
}

.contact-numbers p {
	font-weight: 400;
	color: #2B2C2C;
}

.contact-numbers a  {
	text-decoration: none;
	color: #2B2C2C;
	font-weight: 400;
}

b {
	font-weight: 500;
}

.errors {
	text-align: center;
	margin-right: 12em;
	color: red;
	line-height: 25px;
	font-size: 14px;
	padding-top: 10px;
}

form {
	width: auto;;
	height: auto;
	//border: 1px solid black;
	text-align: left;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 5px;
	line-height: 28px;
	margin-left: 12em; 
}

input {
	width:475px;
	//display: block;
	border: 1px solid #999;
	border-radius: 3px;
	height: 25px;
}

textarea {
	width: 475px;
	height: 150px;
	border: 1px solid #999;
	border-radius: 3px;
	margin-bottom: 12px;
}

input.button {
	color: #1D2148;
}

.down {
	margin-top:24px;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 10px;
}

#contact-legend {
	margin-left: 330px;
	font-size: 22px;
	letter-spacing: 4px;
	padding-right: 1px;
	padding-left: 5px;
	font-weight: 500;
}

.invisible {
	height: 304px;
}

.thankyou {
	margin-top: 80px;
	font-size: 40px;
	font-weight: 600;
}


.boxp {
	font-size: 29px;
	letter-spacing: 10px;
	font-weight: 400;
	padding-bottom: 22px;


}

.star {
	width: 50px;
	height: 45px;
	background-image: url("redstar.png");
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding-bottom: 8px;
}

.jensen {
	width: 165px;
	height: 69px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("jensen.png");
	margin-top: -67px;
	//border: 1px solid black;
}

.space {
	height: 20px;
	width: 20px;
}


//Products Page//

/* SECTIONS */
.sections {
	clear: both;
	padding: .5em 0em 0em 0em;
	margin: 0px;


}

/*Column Set up*/

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;

		ul {
			display: block;
		}

		li {
			display: block;
			text-align: center;
			padding: 1em 0em;
		}

		a {
			text-decoration: none;
			color: #1D2148;
		}
}

.col:first-child { margin-left: 0; }



.group:before,
.group:after {
	content: "" ;
	display: table;
}

.group:after {
	clear: both;
}


.span-1-3 {
	width: 32.02%;
	//border: 1px solid black;
}

.col-2-3 {
	width: 60%;
	border: 1px solid black;
}


#Product-Cat-Header {
	color: #1D2148;
	padding-top: 1.2em;
	font-size: 1.2em;
	text-decoration: underline;
}

#Product-Spec-Header {
	color: #1D2148;
	padding-top: 1.7em;
	font-size: 1.2em;
	text-decoration: underline;
}

#product-para {
	color: #1D2148;
	text-align: center;
	padding-top: .8em;
	padding-bottom: .9em;


	a {
		text-decoration: none;
		color: #1D2148;
	}
}


