<%= form_for inquiry do |f| %>
  <% if inquiry.errors.any? %>
    <ul class = "errors">
      <% inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

     <div style="display: none;">
      <%= f.label :nickname %><br/>
      <%= f.text_field :nickname %>
    </div>

    <div>
      <%= f.label :firstname, "First Name" %><br/>
      <%= f.text_field :name %>
    </div>
  
    <div>
      <%= f.label :lastname, "Last Name" %><br/>
      <%= f.text_field :lastname %>
    </div>

    <div>
      <%= f.label :customernumber, "Customer Number" %><br/>
      <%= f.text_field :customernumber %>
    </div>

    <div>
      <%= f.label :email, "Email" %><br/>
      <%= f.text_field :email %>
    </div>
  
    <div>
      <%= f.label :Customercontactnumber, "Customer Phone Number" %><br/>
      <%= f.text_field :customerphonenumber %>
    </div>

    <div>
      <%= f.label :Besttimetocontact, "Best Time To Contact" %><br/>
      <%= f.text_field :besttime %>
    </div>

    <div>
      <%= f.label :ordernumber, "Order Number" %><br/>
      <%= f.text_field :ordernumber %>
    </div>

    <div>
      <%= f.label :message, "Reason For Contact" %><br/>
      <%= f.text_area :message %>
    </div>
  
    <div>
      <%= f.submit "Send" %>
    </div>

  
<% end %>