
<fieldset class = "container-warranty">
		<legend id = "contact-legend">CONTACT US</legend>
		<h1 class = "center down">INQUIRIES</h1>
		<p class = "center">Please fill out the form below and we'll get back to you as soon as possible.</p>

		<%= render 'form', :inquiry => @inquiry %>
	
	<div class = "contact-numbers">
		<b>PHONE:    <p style="display:inline">&nbsp(US) +1.817.556.6500</p></br>
		<b>TOLL FREE:<p style="display:inline">&nbsp(US) +1. 800.325.8351</p></b></br>
		<b>FAX:		 <p style="display:inline">&nbsp(US) +1.817.556.6549</p></b></br>
		<b>EMAIL:    <a style="display:inline" href="mailto:customerservice@rangairemfg.com">								 customerservice@rangairemfg.com</a></b>
	<div>
</fieldset>

