


<%= form_for @product, :url => products_path, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	  <%= f.label :spec_name %>
  		<%= f.text_field :spec_name %>

  <%= f.label :spec %>
  <%= f.file_field :spec %>
  
  <%= f.submit %>
<% end %>