<fieldset class = "container-warranty">
	<legend class = "meowprod">PRODUCTS</legend></br></br>
		<center><%= form_tag products_path, :method => :get do %>
    
  
	      <%= text_field_tag :search, params[:search],
	       :placeholder => 'Search by Spec Sheet Name', :class => 'form-control', 
	       :style => 'width: 70%; margin-top: -3em; margin-left: -2em;' %>
	      <%= submit_tag "Search", :name => nil,
	       :class => 'btn btn-success btn-sm',
	       :style => 'width: 10%; height: 33px; margin-top: -5.5em; margin-left: 39.4em;
	       			  background-color: #1D2148; border-color: #1D2148;'%>
  		<% end %></center></br>
		<div style = "width: 900px;" class = "container">
			<!--CATALOGS-->
			<div class = "row">
				<center><h1 style = "font-size: 22px; text-decoration:underline;">
					PRODUCT CATALOGS</h1></center></br>
				<% @catalog.each do |cat| %>
				<div class = "col-md-4">
					
					 
	    	      	<div style = "padding-bottom: 1.2em;">
	    	      		<center><a style = "color: #1D2148; text-decoration:none;" 
	    	      			href="<%= cat.catalog %>" target = "_blank">
	      					<%= cat.catalog_name %>
	      				</a></center>
	      			</div>
	      				
	      			 
	      			 
				</div>
				<% end %>
			</div>
		</br></br></br>

			<!--PRODUCTS-->
			<div class = "row">
				<center><h1 style = "font-size: 22px; text-decoration:underline;">
					PRODUCT SPECIFICATIONS</h1></center></br>
				<% @products.each do |product| %>
				<div class = "col-md-4">
					
					 
	    	      	<div style = "padding-bottom: 2em;">
	    	      		<center><a style = "color: #1D2148; text-decoration:none;" 
	    	      			href="<%= product.spec %>" target = "_blank">
	      					<%= product.spec_name %>
	      				</a></center>
	      			</div>
	      				
	      			 
	      			 
				</div>
				<% end %>
			</div>
			<center><%= will_paginate @products %></center>

		</div>
	</legend>
</fieldset>



<%#= link_to 'Show', product %>
      <%#= link_to 'Edit', edit_product_path(product) %>
      <%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>