<footer class = "foot">

		<div class = "foot-place">
			
			
		</div>
	
		<ul class = "phone">
			<li>PHONE 	  | &nbsp (US) +1.817.556.6511</li>
			<li>FAX 	  | &nbsp (US) +1.817.556.6549</li>
			<li>TOLL-FREE | &nbsp (US) +1.800.325.8351</li>
			<li><a href="mailto:customerservice@rangairemfg.com">customerservice@rangairemfg.com</a></li>
		</ul>
		<div class = "jensen"></div>
</footer>