<header>
		<div class="nav-bar">
			<div class = "rangaire-logo"></div>

			
		</div>
		<div class = "mfg"></div>
		<!--<div class = "space"></div>-->
		<nav>
		<ul>	
			<li>&nbsp<%= link_to("HOME", 		root_path) %> </li>
			<li>&nbsp&nbsp<%= link_to("ABOUT", 		about_path) %> </li>
			<li>&nbsp<%= link_to("PRODUCTS", 	products_path) %> </li>
			<li>&nbsp<%= link_to("CONTACT US",		contact_path) %> </li>
			<li><%= link_to("WARRANTY", 	warranty_path) %> </li>
			<% if user_signed_in? %>
			<li><%= link_to("Admin", "/admin") %></li>
			<% end %>


		</ul>
		</nav>
</header>