<!DOCTYPE HTML>
<html>

<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Rangaire MFG | <%= yield(:title) %></title>
  <meta name="description" content="Rangaire MFG is a quality producer of Medicine Cabinets.  Since our founding, we have manufactured and distributed turn-key products for a number of trusted brands, such as Electrolux, Kenmore, Whirl- pool, GE, Broan, and NuTone.  Medicine cabinet, bath cabinet, medicine, cabinet, vanity, bathroom, fixture, Jensen, Broan, Nutone, Monarch, Triangle, American Pride, Zaca, Zenith, Basco, Masco, Kohler, Robert, Zaca, mirror, mirrored, cosmetic, tri-view, slider, cos, Rangaire, RangaireMFG, Manufacturing">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!--Banner for out of date browsers-->
 <script type="text/javascript"> 
		var $buoop = {
			reminder: 0,
			test: false,
			onshow: function(infos){},
			onclick: function(infos){}

		}; 
		$buoop.ol = window.onload; 
		window.onload=function(){ 
 			try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
 			var e = document.createElement("script"); 
 			e.setAttribute("type", "text/javascript"); 
 			e.setAttribute("src", "//browser-update.org/update.js"); 
 			document.body.appendChild(e); 

		} 
</script> 

	
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
<div class = "container15">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
	<%= yield %>
</div>
	
	<%= render 'layouts/footer' %>

</body>
<div class = "space"></div>
</html>
